<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>
    <div class="my-2 text-left">
      <button
        type="button"
        class="btn btn-rounded btn-primary"
        [routerLink]="['/clientes/form']"
      >
        Crear Cliente
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
          <td class="text-center"><button class="btn btn-primary btn-sm" type="button" name="button" [routerLink]="['/clientes/form',cliente.id]">Editar</button></td>
          <td class="text-center"><button class="btn btn-danger btn-sm" type="button" name="button" (click)="delete(cliente)" >Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
