<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form (ngSubmit)="create()">
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            for="nombre"
            class="form-control mb-2"
            placeholder="Ingrese su nombre"
            [(ngModel)]= "cliente.nombre"
            name="nombre"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input
            for="apellido"
            name="apellido"
            [(ngModel)]="cliente.apellido"
            type="text"
            class="form-control mb-2"
            placeholder="Ingrese su apellido"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input
            for="email"
            name="email"
            [(ngModel)]="cliente.email"
            type="email"
            class="form-control"
            placeholder="Ingrese su email"
          />
        </div>
        <div class="form-group row">
        <div class="col-sm-6">
            <button class="btn btn-primary" role="button">Crear</button>

        </div>
        </div>
      </div>
    </form>
  </div>
</div>
